In [109]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sb
import sqlite3

In [110]:
w_h_data = pd.read_csv('raw_data/WHR_2005-2024.csv')
inf_data = pd.read_csv('raw_data/WHI_Inflation.csv')
life_data = pd.read_csv('raw_data/Life_expectancy.csv')
suicide_data = pd.read_csv('raw_data/Suicide_Rate.csv')
gci_data = pd.read_csv('raw_data/world_data_2023.csv')

Renamed/fixed the columns and sorted by year for world happiness dataframe.

In [111]:
w_h_data = w_h_data.rename(columns={
    'Log GDP per capita': 'GDP_per_capita',
    'Healthy life expectency at birth': 'Life_expectency',
    'Freedom to make life choices': 'Life_choices'
})
w_h_data_trans = w_h_data.T.reset_index()
w_h_data_trans['index'] = w_h_data_trans['index'].str.replace(' ', '_')
w_h_data_trans['index'] = w_h_data_trans['index'].map(str.lower)
w_h_data_trans

reset_w_h_data = w_h_data_trans.set_index('index').T
w_h_data = reset_w_h_data
w_h_data

index,country_name,year,life_ladder,gdp_per_capita,social_support,healthy_life_expectancy_at_birth,life_choices,generosity,perceptions_of_corruption,positive_affect,negative_affect
0,Afghanistan,2008,3.72359,7.350416,0.450662,50.5,0.718114,0.164055,0.881686,0.414297,0.258195
1,Afghanistan,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.187297,0.850035,0.481421,0.237092
2,Afghanistan,2010,4.758381,7.6139,0.539075,51.099998,0.600127,0.117861,0.706766,0.516907,0.275324
3,Afghanistan,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.160098,0.731109,0.479835,0.267175
4,Afghanistan,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.234157,0.77562,0.613513,0.267919
...,...,...,...,...,...,...,...,...,...,...,...
2358,Zimbabwe,2019,2.693523,7.697755,0.759162,53.099998,0.631908,-0.050874,0.830652,0.658434,0.235354
2359,Zimbabwe,2020,3.159802,7.59605,0.717243,53.575001,0.643303,0.002848,0.788523,0.660658,0.345736
2360,Zimbabwe,2021,3.154578,7.656878,0.685151,54.049999,0.667636,-0.079007,0.756945,0.609917,0.241682
2361,Zimbabwe,2022,3.29622,7.670073,0.666172,54.525002,0.651987,-0.072935,0.752632,0.640609,0.19135
2362,Zimbabwe,2023,3.572386,7.67859,0.693817,55.0,0.734613,-0.068837,0.757494,0.609752,0.178953

Combined life/life expectancy and suidide rate dataframes into one dataframe. Renamed/fixed column names.

In [112]:
life_death_data = pd.merge(life_data, suicide_data, on='Country', how='outer')
life_death_data
life_death_data = life_death_data.rename(columns={
    'Life Expectancy (years) - Men': 'male_life_expectancy',
    'Life Expectancy (years) - Women': 'female_life_expectancy',
    'Fertility Rate (births per woman)': 'fertility_rate'
})
life_death_data

life_death_data_trans = life_death_data.T.reset_index()
life_death_data_trans['index'] = life_death_data_trans['index'].str.replace(' ', '_')
life_death_data_trans['index'] = life_death_data_trans['index'].map(str.lower)
life_death_data_trans

reset_life_death_data = life_death_data_trans.set_index('index').T
life_death_data = reset_life_death_data
life_death_data

index,country,male_life_expectancy,female_life_expectancy,happiness_score,fertility_rate,gdp_per_capita,suicide_rate
0,Afghanistan,60.6,68.2,3.794,4.7,"1,105",20.6
1,Albania,74.8,81.3,4.959,1.7,"4,932",32.4
2,Algeria,73.3,78.9,5.605,2.9,"4,534",15.6
3,Andorra,81.7,84.8,6.955,1.4,"46,622",18.9
4,Angola,58.1,65.6,4.105,5.3,"2,077",20.5
...,...,...,...,...,...,...,...
145,Switzerland,NaN,NaN,NaN,NaN,"83,832",12.9
146,Thailand,NaN,NaN,NaN,NaN,"6,792",27.8
147,United Arab Emirates,76.3,80.6,6.39,2.6,NaN,NaN
148,United Kingdom,79.0,83.0,6.72,1.7,"39,720",11.1
149,United States,76.1,81.1,6.94,1.7,"65,112",14.0

Dropping unneeded columns (already have in other data), fixed column names, sorted by year for inflation data.

In [113]:
inf_data = inf_data.drop(['Official Core Consumer Price Inflation', 'Headline Consumer Price Inflation', 'Producer Price Inflation', 'Continent/Region', 'Generosity','Perceptions of corruption', 'Healthy life expectancy at birth', 'Social support'], axis=1)

inf_data_trans = inf_data.T.reset_index()
inf_data_trans['index'] = inf_data_trans['index'].str.replace(' ', '_')
inf_data_trans['index'] = inf_data_trans['index'].map(str.lower)
inf_data_trans

reset_inf_data = inf_data_trans.set_index('index').T
inf_data = reset_inf_data

inf_data

index,country,year,energy_consumer_price_inflation,food_consumer_price_inflation,gdp_deflator_index_growth_rate,score,gdp_per_capita,freedom_to_make_life_choices
0,Afghanistan,2015,-4.25,-0.84,2.66509,3.575,0.31982,0.23414
1,Afghanistan,2016,2.07,5.67,-2.409509,3.36,0.38227,0.1643
2,Afghanistan,2017,4.44,6.94,2.404,3.794,0.401477,0.10618
3,Afghanistan,2018,1.474185,-1.045952,2.071208,3.632,0.332,0.085
4,Afghanistan,2019,-2.494359,3.79477,6.520928,3.203,0.35,0.0
...,...,...,...,...,...,...,...,...
1227,Zimbabwe,2019,90.808071,86.124371,-4.035235,3.663,0.366,0.361
1228,Zimbabwe,2020,306.431673,601.020236,568.971862,3.2992,0.425564,0.377405
1229,Zimbabwe,2021,69.82,105.8,113.294981,3.145,0.457,0.359
1230,Zimbabwe,2022,97.24655,149.967034,113.018434,2.995,0.947,0.329
1231,Zimbabwe,2023,115.380648,NaN,812.247463,3.204,0.758,0.363

Removing NAN from inflation data

In [114]:
nan_count1 = inf_data.isnull().sum()
columns_to_fill1 = ['energy_consumer_price_inflation', 'food_consumer_price_inflation', 'gdp_deflator_index_growth_rate' ]
for col in columns_to_fill1:
    inf_data[col] = inf_data[col].fillna('No data')

nan_count1

index
country                              0
year                                 0
energy_consumer_price_inflation    142
food_consumer_price_inflation      102
gdp_deflator_index_growth_rate      21
score                                0
gdp_per_capita                       0
freedom_to_make_life_choices         0
dtype: int64

Removing NAN for life expectancy and suicide rate data

In [115]:
nan_count2 = life_death_data.isnull().sum()
columns_to_fill2 = ['male_life_expectancy', 'female_life_expectancy', 'happiness_score', 'fertility_rate', 'gdp_per_capita', 'suicide_rate']
for col in columns_to_fill2:
    life_death_data[col] = life_death_data[col].fillna('No data')

nan_count2

index
country                    0
male_life_expectancy       8
female_life_expectancy     8
happiness_score            8
fertility_rate             8
gdp_per_capita            10
suicide_rate              10
dtype: int64

Removing NAN from world happiness data. Due to the inability to see where the data shifted from one country to another, I could not use means/averages to fill spots. I did do some of that where possible in excel before moving the data to vscode.

In [116]:
nan_count3 = w_h_data.isnull().sum()
columns_to_fill3 = ['gdp_per_capita', 'social_support', 'healthy_life_expectancy_at_birth', 'life_choices', 'generosity', 'perceptions_of_corruption', 'positive_affect', 'negative_affect']
for col in columns_to_fill3:
    w_h_data[col] = w_h_data[col].fillna('No data')

nan_count3

index
country_name                          0
year                                  0
life_ladder                           0
gdp_per_capita                       21
social_support                       13
healthy_life_expectancy_at_birth     63
life_choices                         22
generosity                           77
perceptions_of_corruption           121
positive_affect                       7
negative_affect                       6
dtype: int64

Removing/fixing colums for GCI data

In [117]:
gci_data = gci_data.drop(['Density', 'Abbreviation', 'Agricultural Land( %)', 'Land Area(Km2)', 'Calling Code', 'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)', 'Currency-Code', 'Forested Area (%)', 'Gasoline Price', 'Largest city', 'Official language', 'Urban_population', 'Total tax rate'], axis=1)
gci_data_trans = gci_data.T.reset_index()
gci_data_trans['index'] = gci_data_trans['index'].str.replace(' ', '_')
gci_data_trans['index'] = gci_data_trans['index'].map(str.lower)

reset_gci_data = gci_data_trans.set_index('index').T
gci_data = reset_gci_data
gci_data = gci_data.rename(columns={
    'gross_primary_education_enrollment_(%)': 'primary_education_enrollment',
    'gross_tertiary_education_enrollment_(%)': 'tertiary_education_enrollment',
    'population:_labor_force_participation_(%)': 'labor_force_participation',
    'tax_revenue_(%)': 'tax_revenue'
})

gci_data

index,country,armed_forces_size,birth_rate,fertility_rate,gdp,primary_education_enrollment,tertiary_education_enrollment,infant_mortality,life_expectancy,maternal_mortality_ratio,minimum_wage,out_of_pocket_health_expenditure,physicians_per_thousand,population,labor_force_participation,tax_revenue,unemployment_rate,latitude,longitude
0,Afghanistan,"323,000",32.49,4.47,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,78.40%,0.28,"38,041,754",48.90%,9.30%,11.12%,33.93911,67.709953
1,Albania,"9,000",11.78,1.62,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,56.90%,1.2,"2,854,191",55.70%,18.60%,12.33%,41.153332,20.168331
2,Algeria,"317,000",24.28,3.02,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,28.10%,1.72,"43,053,054",41.20%,37.20%,11.70%,28.033886,1.659626
3,Andorra,NaN,7.2,1.27,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,36.40%,3.33,"77,142",NaN,NaN,NaN,42.506285,1.521801
4,Angola,"117,000",40.73,5.52,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,33.40%,0.21,"31,825,295",77.50%,9.20%,6.89%,-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,"343,000",17.88,2.27,"$482,359,318,768",97.20%,79.30%,21.4,72.1,125.0,$0.01,45.80%,1.92,"28,515,829",59.70%,NaN,8.80%,6.42375,-66.58973
191,Vietnam,"522,000",16.75,2.05,"$261,921,244,843",110.60%,28.50%,16.5,75.3,43.0,$0.73,43.50%,0.82,"96,462,106",77.40%,19.10%,2.01%,14.058324,108.277199
192,Yemen,"40,000",30.45,3.79,"$26,914,402,224",93.60%,10.20%,42.9,66.1,164.0,NaN,81.00%,0.31,"29,161,922",38.00%,NaN,12.91%,15.552727,48.516388
193,Zambia,"16,000",36.19,4.63,"$23,064,722,446",98.70%,4.10%,40.4,63.5,213.0,$0.24,27.50%,1.19,"17,861,030",74.60%,16.20%,11.43%,-13.133897,27.849332
194,Zimbabwe,"51,000",30.68,3.62,"$21,440,758,800",109.90%,10.00%,33.9,61.2,458.0,NaN,25.80%,0.21,"14,645,468",83.10%,20.70%,4.95%,-19.015438,29.154857

Removing NAN from GCI data

In [121]:
nan_count4 = gci_data.isnull().sum()
columns_to_fill4 = ['armed_forces_size', 'birth_rate', 'fertility_rate', 'gdp', 'primary_education_enrollment', 'tertiary_education_enrollment', 'infant_mortality', 'life_expectancy', 'maternal_mortality_ratio', 'minimum_wage', 'out_of_pocket_health_expenditure', 'physicians_per_thousand', 'population', 'labor_force_participation', 'tax_revenue', 'unemployment_rate']

for col in columns_to_fill4:
    gci_data[col] = gci_data[col].fillna('No data')

nan_count4

index
country                             0
armed_forces_size                   0
birth_rate                          0
fertility_rate                      0
gdp                                 0
primary_education_enrollment        0
tertiary_education_enrollment       0
infant_mortality                    0
life_expectancy                     0
maternal_mortality_ratio            0
minimum_wage                        0
out_of_pocket_health_expenditure    0
physicians_per_thousand             0
population                          0
labor_force_participation           0
tax_revenue                         0
unemployment_rate                   0
latitude                            1
longitude                           1
dtype: int64